@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Supportbot.Webapi.Pages.LoginModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        .header{
            background-color: white;
            width: 100%;
            height: 100%;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            border-radius: 20px;
        }

        html,
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            background-image: url('https://bamba.at/newpatter.png');
            background-size: repeat;
        }

        .formcontainer {
            height: 100%;
            display: flex;
            align-items: center; 
            justify-content: center; 
        }

        .formcontent {
            border: 3px solid #007bff; 
            padding: 1em;
            border-radius: 20px; 
            background-color: #007bff;
            box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .formrow {
            display: flex;
            margin-bottom: 10px;
            align-items: center;
            justify-content: center;
        }

        .formlabel {
            width: 5em;
        }

        .formcontrol input {
            padding: 0.5em;
            width: 200px;
        }

        button {
            padding: 0.5em 1em;
            border: none;
            border-radius: 5px;
            background-color: white;
            color: black;
            cursor: pointer;
        }

        .form {
            color: white;
            font-weight: 500;
        }

        h1 {
            
        }
    </style>
</head>

<body>

    <div class="formcontainer">
        <div class="formcontent">
            <div class="header">
                <h1>Confluence Supportbot</h1>
            </div>
            <form method="post">
                <div class="form">
                    <div class="formrow">
                        <div class="formlabel">Username:</div>
                        <div class="formcontrol"><input type="text" asp-for="Username" /></div>
                    </div>
                    <div class="formrow">
                        <div class="formlabel">Passwort:</div>
                        <div class="formcontrol"><input type="password" asp-for="Password" /></div>
                    </div>
                    <div class="formrow">
                        <p>Users: @string.Join(", ", Model.Users)</p>
                    </div>
                    <div class="formrow">
                        <div asp-validation-summary="All"></div>
                    </div>
                    <div class="formrow">
                        <button type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>